dist/__tests__
docs/
internal-docs/
babel.config.cjs
lint-staged.config.js
.eslintrc.cjs
.eslintignore
.prettierrc.cjs
.prettierignore
jest.config.js
real-cancellable-promise.code-workspace
typedoc.json
tsconfig.json