docs/
src/
.husky/
.github/
internal-docs/
babel.config.cjs
.eslintrc.cjs
.eslintignore
.prettierrc.cjs
.prettierignore
jest.config.cjs
*.code-workspace
typedoc.json
tsconfig.json
.npmignore
rollup.config.js